<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form>
            <h3 class="mb-4 text-center">Change Password</h3>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input name="email" [(ngModel)]="email" type="email" class="form-control">
            </div>
            <button (click)="forgotPassword()" type="button" class="btn btn-primary">Sent Link </button>
            <div class="row mt-3">
              <div class="col">
                <a routerLink="/login">Back to Login</a>
              </div>
              <div class="col">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>