<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form>
            <h4 class="mb-4 text-center">Verify your Email</h4>
            <div class="mb-4">
              <p class="">Sent link to your registered email address</p>
            </div>
            <div class="row mt-3">
              <div class="col">
                <a class="" routerLink="/login">Back to Login</a>
              </div>
              <div class="col">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>